@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-screen w-screen antialiased bg-black text-white;
    }
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/Outfit/Outfit-Black.ttf) format('truetype');
}

body {
    font-family: 'Outfit', sans-serif;
}

.centerColumn {
    @apply w-6/12 flex flex-col gap-8 pt-24 px-8;
}

.centerColumn > h1 {
    @apply text-4xl text-white shadow-sm font-semibold mb-4 whitespace-nowrap;
}

.rightColumn {
    @apply w-4/12 border-l border-l-white/10 pt-24 px-8;
}
